input .ng-invalid{
    border-left: 2px solid red;
    height: 30px;
}
input .ng-valid{
    border-left: 2px solid green;
    height: 30px;
}
.login-form input {
    font-size: 15px;
    width: 100%;
    padding: 15px 10px;
    //border: 1px;
    outline: none;
    border-radius: 5px;
}